
/*--------------------------------font setting------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
body h1, h2{
    font-family: 'Bebas Neue', cursive;
}


a {
    text-decoration: none;
    transition: ease all .2s;
}

/* ----------------------------coloring------------------------------------*/
.yellow-shade{
    color:  #FABE4C;
}
.blue-shade{
    color: #363958;
}
.off-white-shade{
    color: #FFFBF0;
}
.bg-off-white {
   
    background-color: #FFFBF0;
}
.bg-leaf-shade{
    background-color: #A4BC46;
    color: white;
}
.ash-bg{
background-color: #F1F1F1;
    
}



/*-----------------------------------font sizing--------------------------*/

.top-demo-text h1 {
    font-size: 80px;
    font-weight: 500;
}
.pengu-prod h1{
    font-size: 48px;
    font-weight: 500;
}

.pengu-prod h3{
    color: #363958;;
    font-size: 24px;
    font-weight: 700;
}

/* positionig and design changing of elements */

.right-nav-design  {
    text-decoration: none; 
    font-style: normal;
}

.penguin-card {
    border: 0;
    border-radius: 10px;
}
.product-img{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.product-img img{
    padding: 5px;
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.pengu-pad{
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: white;
}



.penguin-card-footer {
    border: 0;
    background-color: white;
}




/*built in bootstrap override*/
.navbar-light{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color: black !important;
    
}

/*----------some media query using because of making my custom css full responsive-------------*/
@media only screen and (max-width: 600px) {
    .top-demo-text h1 {
        font-size: 40px;
        font-weight: 500;
    }
    .pengu-prod h1{
        font-size: 36px;
        font-weight: 500;
    }

}
@media only screen and (max-width: 860px) {
    .top-demo-text h1 {
        font-size: 60px;
        font-weight: 500;
    }

}


