
/*--------------------------------font setting------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
body h1, h2{
    font-family: 'Bebas Neue', cursive;
}


a {
    text-decoration: none;
    transition: ease all .2s;
}

/* ----------------------------coloring------------------------------------*/
.yellow-shade{
    color:  #FABE4C;
}
.blue-shade{
    color: #363958;
}
.off-white-shade{
    color: #FFFBF0;
}
.bg-off-white {
   
    background-color: #FFFBF0;
}
.bg-leaf-shade{
    background-color: #A4BC46;
    color: white;
}



/*-----------------------------------font sizing--------------------------*/

.top-demo-text h1 {
    font-size: 80px;
    font-weight: 500;
}

/* positionig and design changing of elements */

.right-nav-design  {
    text-decoration: none; 
    font-style: normal;
}

.penguin-card {
    border: 0;
}

.product-img {
    width: 90%;
    height: 50%;
    display: block;
    background-color: azure;
    border-radius: 1px solid red;
}

.penguin-card-footer {
    border: 0;
    background-color: white;
}
/*bounous part*/
.small-button{
    text-decoration: none;
    margin: 5px 4px;
    padding: 1px  3px;
    color: whitesmoke;
    font-weight:500;
    border-radius: 3px;
    font-size: 16px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    font-family:'Roboto', sans-serif;
}

.single-showcase-block{
    border-radius: 14px;
    background-color: white;
}
.one-third{
    width: 26%;
    float: left;
    padding:2%;
    

}
.one-third img{
    width: 100%;
}
.bottom-text{
    text-align: center;
}

/*built in bootstrap override*/
.navbar-light{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color: black !important;
    
}

/*----------some media query using because of making my custom css full responsive-------------*/
@media only screen and (max-width: 600px) {
    .top-demo-text h1 {
        font-size: 40px;
        font-weight: 500;
    }

}
@media only screen and (max-width: 860px) {
    .top-demo-text h1 {
        font-size: 60px;
        font-weight: 500;
    }

}


